#car {
    width: 300px;
    height: 300px;
    
}

#spoiler {
    animation:  spoiler 2s infinite alternate;
    transition: all 600ms ease;
}

@keyframes spoiler {
    from {
        transform: translateX(-5px) translateY(5px) ;
    }
    to {
        transform: translateX(5px) translateY(-5px);
        fill: rgb(255, 128, 0);
    }
}
 
#Wheel_1, #Wheel_2 {
    transition: all 600ms ease;
}

#Wheel_1:hover {
    fill: green !important; 
    cursor: pointer;
}
#Wheel_2:hover {
    fill: rgb(50, 104, 50) !important;
    cursor: pointer;
}

.move_forward {
    animation:  car_forward 2s forwards;
}

@keyframes car_forward {
    from{
       margin: 0;
    }
    to {
        margin-left: 1100px;
    }
}

.move_back {
    animation:  car_back 2s forwards;
}

@keyframes car_back {
    from{
        margin-left: 1100px;
    }
    to {
        margin-right: 1100px;
    }
}