@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    background: #1C140F;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.wrapper{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    overflow-x: hidden;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
header{
    padding: 50px 0;
}
header .logo , footer .blocks .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
header nav{
    float: right;
    width: 50%; 
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
header nav ul li {
    display: inline-block;
} 
header nav ul li a {
     color: #fff;
}
header nav ul li.active::after {
     content: '';
     display: block;
     width: 40px;
     height: 5px;
     border-radius: 10px;
     background-color: #DC7000;
     position: relative;
     top: 10px;
     left: -15px;
}
header nav ul li:not(.active):not(.knopka) a:hover {
    border-bottom: 5px solid #DC7000;
}
header nav ul li.knopka a , .email .block button {
    background-color: #FA9021;
    padding: 9px 17px;
    border-radius: 6px;
    transition: all 500ms ease;
}
header nav ul li.knopka a:hover , .email .block button:hover {
    background-color: #653502;
}
.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 0;
}
.hero--info{
    width: 527px;
    padding-top: 70px;
}
.hero--info h2 {
    color: #E87D0E;
    font-size: 20px;
    font-weight: bold;
}
.hero--info h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}
.hero--info p{
    font-weight: 500px;
    line-height: 170%;
    margin: 30px 0;   
}
.hero--info .knopka , .hero-about .info .btn {
    background-color: #FA8305;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 50px;
    border: 0;
    transition: all 500ms ease;   
    font-size: 17px; 
}
.hero--info .knopka:hover , .hero-about .info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hero img{
    position: absolute;
    top: -150px;
    right: 0;
}

/* Секция с играми */
.tranding {
    padding-top: 50px;
}
.tranding h3 {
    font-size: 31px;
    font-weight: bold;
}
.tranding .see-all , .project .see-all {
    color: #FFFFFF;
    padding: 13px 23px;
    border-radius: 5px;
    background-color: #25211D;
    float: right;
    display: block;
    transition: all 500ms ease;
}
.tranding .see-all:hover , .project .see-all:hover {
    transform: scale(1.1);
}
.tranding .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}
.tranding .games span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.tranding .games span img{
     position: relative;
     top: 5px;
     margin-right: 7px;
}
.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    width: 800px;
}
.banner {
    padding: 50px 0;
}
.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner p {
    line-height: 170%;
    width: 550px;
    margin-bottom: 30px;
}
.banner img {
   width: 100%;
   margin-bottom: 30px;
}
.features {
    background: url('img/Group\ 1322.svg') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}
.features h3 , .features p{
    max-width: 800px;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
} 
.features h3 {
    font-size: 30px;
    font-weight: 600;
}
.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features .info .block {
    text-align: center;
    margin: 20px 2%;
    width: 20%;
}
.features .info .block img {
    margin-bottom: 15px;
    margin-top: 15px;
}
.project {
    padding: 100px 0;
}
.project h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.project p {
    margin: 40px 0;
    text-align: center;
}
.images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.project .see-all {
    float: none;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}

/* Нижняя часть */
 
.email {
    padding-bottom: 120px;
}
.email h3 {
    margin-top: 60px;
    font-size: 30px;
}
.email .block {
    background-color: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
}
.email .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}
.email .block p {
    margin-top: 10px;
    width: 500px;
}
.email .block input {
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    left: 100px;
    z-index: 1;
    padding-right: 120px;
}
.email .block input::placeholder {
    color: #898989;
}
.email .block button {
      color: #FFFFFF;
      cursor: pointer;
      border: 0;
      padding: 13px 17px;
      position: relative;
      z-index: 2;
}

/* Страница 2 */

.hero-about {
    position: relative;
}
.hero-about .info {
    width: 500px;
    padding: 250px 0;
}
.hero-about .info h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.hero-about .info p {
    width: 450px;
    margin-bottom: 20px;
}
.hero-about img {
    position: absolute;
    right: -150px;
    top: 0;
}
.work {
    padding: 80px 0;
}
.work h2 {
    font-size: 25px;
    padding: 50px 0;
}
.work .blocks {
    display: flex;
    justify-content: space-between;   
}
.work .blocks .block {
    width: 25%;
    padding: 50px 35px;
    border-radius: 10px;
    background: #1C140F;
}
.work .blocks .block h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.work .blocks .block .badge {
    padding: 10px 20px;
    border-radius: 7px;
    position: relative;
    bottom: 20px;
}
.work .blocks .block .badge.purple {
    background: #2C1226;
}
.work .blocks .block .badge.brown {
    background: #31190D;
}
.work .blocks .block .badge.green {
    background: #192A1D;
}

/* Страница 3 */


.hero-contacts h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}
.hero-contacts p {
    text-align: center;
}
.hero-contacts img {
    width: 70%;
    margin: 80px 15%;
}
.feedback {
    background: #1C140F;
}
.feedback h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.feedback p {
    text-align: center;
    margin-top: 10px;
}
.feedback form {
    margin: 80px auto;
    width: 600px;
}
.feedback form .inline {
    display: flex;
    justify-content: space-between;
}
.feedback form .inlin > div {
    width: 50%;
}
.feedback  form label {
   color: #4F4F4F;
   font-size: 14px;
}
.feedback form input , .feedback form textarea {
    background: #2C2420;
    border-radius: 10px;
    border: 0.6px solid #544E4B;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}
 #firstname  {
    width: 267px;
}
#lasttname {
    width: 270px;
}
.feedback form .one-line {
    width: 96.7%;
}

.feedback form textarea {
    resize: none;
    height: 200px;
}


.feedback form button {
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    float: right;
    padding: 15px 25px;
    transition: all 500ms ease;
}

.feedback form button:hover {
    background: #a72929;
}

/* Футер */

footer {
    background: #070707;
    padding: 50px 0;
}
footer .blocks {
    display: flex;
    justify-content: space-between;
}
footer .blocks p {
    width: 300px;
    margin: 15px 0;
}
footer .blocks h4 {
    font-size: 17px;
    font-weight: 500;
}
footer .blocks ul {
    list-style: none;
}
footer .blocks ul li {
    margin-top: 5px;
    opacity: 0.8;
}
footer hr {
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}
footer > p {
    text-align: center;
    opacity: 0.8;
}

